body {
font-family: "PT Sans", sans-serif;
font-size: 14px;
line-height: 26px;
background-color: #f2f2f2;
color: #333333;
text-transform: uppercase;
font-weight: normal;
}

.main-navigation li {
  font-weight: bold;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.text-white h2 {
  color: #ffffff;
}

.text-white p {
  color: #ffffff;
}
.search-title {
  font-size: 30px;
  line-height: 24px;
}
.filter-column {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.list-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.content-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting p {
  color: #000000;
}

.sorting li {
  color: #cacaca;
}

span {
  font-size: 14px;
  line-height: 21px;
}

.text {
  color: #333333;
}

.rating {
  color: #666666;
}
.hotel-description a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
